<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body style="background-color: #28a7462f; padding: 100px 0;">
  <div style="text-align: center;">
    <img style="width: 200px; max-width: 80%; border-radius: 10px; padding: 10px; background-color: #fff;" src='{{ logo }}'>
  </div>
  <div style="min-height: 200px; width: 800px; max-width: 80%; margin: 50px auto 0 auto; border-radius: 10px; padding: 10px; background-color: #fff;">
    <p style="margin: 0; font-size: 20px">
        Salut {{ user.first_name|capfirst }}, je suis un admin de "Ch7al machya".
        Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe
    </p>
    <a style="margin-top: 30px;" href="http://{{ domain }}/reset-password/{{email}}/{{uid}}/{{token}}/" target="_blank">http://{{ domain }}/reset-password/{{email}}/{{uid}}/{{token}}/</a>

  </div>
</body>
<style>
  *{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
</style>
</html>